
<div class=" welcome">

    <div class="welcome1">На нашем сайте Вы можете</div>
    <div class="welcome1">ознакомиться со списком книг</div>
    <div class="welcome1">и добавить понравившееся Вам произведения</div>


</div>
    



