<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Delicious+Handrawn&family=Josefin+Sans:wght@500&family=Lobster&family=Nabla&family=Oswald:wght@200&family=Roboto&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <header class="head">
        <a class="header_logo" href="/Home/Index">Книги</a>
       
        <div class="container">
            <div class="header_iner">
               

                <nav calss="nav">
                    <a class="nav_link" href="/Home/Privacy">Список книг</a>
                    <a asp-action ="Creat" class="nav_link">Добавить книгу</a>
                    
                </nav>

            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>


</body>
</html>
